<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<div class="mdl-grid">
  <% @listings.each do |listing| %>
    <%= link_to listing_path(listing), class: 'mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--12-col-phone mdl-card mdl-shadow--2dp' do %>
      <div class="mdl-card__media">
        <%= image_tag listing.image.url :thumb %>
      </div>
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text"><%= listing.title %></h2>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to 'New Listing', new_listing_path %>
<button class="mdl-button mdl-js-button mdl-button--raised">
  
</button>
