<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--5-col mdl-cell--6-col-phone">
        <h3>Find your garden.</h3>
        <form action="#">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="sample3">
                <label class="mdl-textfield__label" for="sample3">Where would you like to garden?</label>
            </div>

            <p style="width:300px">
                Size:
                <input class="mdl-slider mdl-js-slider" type="range" id="s1" min="0" max="10" value="4" step="2">
            </p>

            <%= link_to "Search", listings_path, :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent fullwidth"%>

        </form>

    </div>
    <div class="mdl-cell mdl-cell--2-col-phone">
        <%= image_tag "beets.jpg", :class => "content-img" %>
    </div>
    <div class="mdl-cell mdl-cell--2-col-phone">
        <%= image_tag "Tomatoes.jpg", :class => "content-img" %>
    </div>
    <div class="mdl-cell mdl-cell--2-col-phone">
        <%= image_tag "Tomatoes.jpg", :class => "content-img" %>
    </div>
    <div class="mdl-cell mdl-cell--2-col-phone">
        <%= image_tag "beets.jpg", :class => "content-img" %>
    </div>
    <div class="mdl-cell mdl-cell--2-col-phone">
        <%= image_tag "beets.jpg", :class => "content-img" %>
    </div>
    <div class="mdl-cell mdl-cell--2-col-phone">
        <%= image_tag "Tomatoes.jpg", :class => "content-img" %>
    </div>
    <div class="mdl-cell mdl-cell--2-col-phone">
        <%= image_tag "Tomatoes.jpg", :class => "content-img" %>
    </div>
    <div class="mdl-cell mdl-cell--2-col-phone">
        <%= image_tag "beets.jpg", :class => "content-img" %>
    </div>
</div>
